@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
   background-color: #F3F2F0;
 }

 [data-theme="dark"],
 [data-theme="dark"] body {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
 } */

.spinner {
    width: 40px;
    height: 40px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side,#0000 40%,#848484 41%);
    background: linear-gradient(0deg ,rgba(132,132,132,0.5) 50%,rgba(132,132,132,1) 0) center/4.5px 100%,
         linear-gradient(90deg,rgba(132,132,132,0.25) 50%,rgba(132,132,132,0.75) 0) center/100% 4.5px;
    background-repeat: no-repeat;
    animation: spinner-d3o0rx 1s infinite steps(12);
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
 }
 
 .spinner::after {
    opacity: 0.83;
    transform: rotate(60deg);
 }
 
 @keyframes spinner-d3o0rx {
    100% {
       transform: rotate(1turn);
    }
 }

/* ////////////////////////////////////////////////////////////////////////////////// */

 .progress-loader {
   /* top: 50%;
   left: 50%;
   position: absolute; */
   margin-top: 30px;
   transform: translate(0%, -50%);
   width: 150px;
   background: #BDB6A7;
   height: 2px;
   border-radius: 7px;
 }
 
 .progress {
   width: 1px;
   height: 2px;
   border-radius: 7px;
   background: #0a66c2;
   transition: 0.5s;
   animation: loading_44 1.5s cubic-bezier(.4,1.01,1,1) infinite;
 }
 
 @keyframes loading_44 {
   0% {
     width: 0%;
   }
   50% {
     width: 100%;
   }
   100% {
     width: 0%;
   }
 }